

@font-face {
   /* Fuente para titulos y contenido de importancia dentro de la web */
   font-family: 'catamaran';
   src: url('https://fonts.googleapis.com/css2?family=Catamaran');
}

@font-face {
   /* Fuente para los textos */
   font-family: 'cormorantInfant';
   src: url('https://fonts.googleapis.com/css2?family=Cormorant=Infant');
}

@font-face {
   /* Fuente para los titulos principales */
   font-family: 'rubik';
   src: url('https://fonts.googleapis.com/css2?family=Rubik');
}

body {
   margin: 0px;
}

#seccion-categoria {
   min-height: 720px;
   background-color: var(--light-color-fondo);
   /*background-color: var(--dark-color-fondo);*/
   color: var(--light-color-texto);
   /*color: var(--dark-color-texto);*/
   font-family: 'cormorantInfant';
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-around;
}

/* Estilos del contenedor de cada libro */

.articulo-categoria {
   flex-basis: calc(19%);
   border: solid 1px black;
   margin-top: 5px;
   margin-bottom: 5px;
   height: auto;
   max-height: 550px; 
   overflow: hidden;
   transition: max-height 0.5s ease;
   position: relative;
}

.articulo-categoria:hover {
   max-height: 1500px;
}

.header-articulo {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.item-valor-descripcion {
   opacity: 0;
   transition: opacity 0.5s ease;
}

.item-valor-rating {
   opacity: 0;
   transition: opacity 0.5s ease;
}

.detalle-articulo {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   opacity: 0;
   transition: opacity 0.5s ease;
}

/* Mostrar los detalles al hacer hover */
.articulo-categoria:hover .detalle-articulo {
   opacity: 1;
}

.articulo-categoria:hover .item-valor-descripcion {
   opacity: 1;
}

.articulo-categoria:hover .item-valor-rating {
   opacity: 1;
}

.item-valor-nombre {
   font-family: 'catamaran';
}

.item-valor-autor {
   font-family: 'rubik';
}

.item-valor-descripcion {
   font-family: 'cormorantInfant';
   margin: 10px;

}

.item-valor-rating {
   font-family: 'cormorantInfant';
}

.item-campo-personalizado_1 {
   font-family: 'rubik';
}

.item-valor-personalizado_1 {
   font-family: 'cormorantInfant';
}

.item-campo-personalizado_2 {
   font-family: 'rubik';
}

.item-valor-personalizado_2 {
   font-family: 'cormorantInfant';
}

.item-campo-personalizado_3 {
   font-family: 'rubik';
}

.item-valor-personalizado_3 {
   font-family: 'cormorantInfant';
}

.item-campo-personalizado_4 {
   font-family: 'rubik';
}

.item-valor-personalizado_4 {
   font-family: 'cormorantInfant';
}

.item-campo-personalizado_5 {
   font-family: 'rubik';
}

.item-valor-personalizado_5 {
   font-family: 'cormorantInfant';
}

/* Estilos de las imagenes de la web */

.item-valor-portada {
   width: 250px;
}

#qr-code {
   width: 100px;
   height: 100px;
}